<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Routeman</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

  <header class="header">
    <div class="header-logo" [ngClass]="(menuOpen) ? 'toogled':''">
      <a href="#" class="menu-bars"
                  (click)="menuOpen = !menuOpen">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <nav class="header-nav" [ngClass]="(menuOpen) ? 'toogled':''">
      <div class="wrapper">
        <ul class="list menu">
          <li class="list-item"><a href="#">News</a></li>
          <li class="list-item"><a href="#">Routes</a></li>
          <li class="list-item"><a href="#">Help</a></li>
        </ul>
        <ul class="list auth">
          <li class="list-item"><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <section class="content">
    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      <h2>Here are some links to help you start: </h2>
    </div>
  </section>

</body>
</html>


