<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Routeman</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

  <header class="header">
    <div class="header-logo" [ngClass]="(menuOpen) ? 'toogled':''">
      <a href="#" class="menu-bars"
                  (click)="menuOpen = !menuOpen">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <nav class="header-nav" [ngClass]="(menuOpen) ? 'toogled':''">
      <div class="wrapper">
        <ul class="list menu">
          <li class="list-item"><a routerLink="/articles">News</a></li>
          <li class="list-item"><a href="#">Routes</a></li>
          <li class="list-item"><a href="#">Help</a></li>
        </ul>
        <ul class="list auth">
          <li class="list-item"><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section>

</body>
</html>


